<<<<<<< HEAD
.bg {
  background-color: white;
  height: 100vh;
  width: 100%;
}

.bg .header {
  background-color: #f4d53a;
  height: auto;
}

.bg .header .icon {
  width: 6%;
  height: 3%;
  position: absolute;
  top: 5px;
  right: 15px;
}

.bg .header .inform {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 35px;
  margin-left: 20px;
}

.bg .header .inform .left {
  height: 20%;
}

.bg .header .inform .left .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.bg .header .inform .left .card .img {
  width: 40px;
  height: 40px;
}

.bg .header .inform .left .card .mes {
  margin-left: 10px;
  margin-top: -1%;
}

.bg .header .inform .left .card .mes .wid {
  font-weight: 700;
}

.bg .header .inform .right {
  margin-top: 10px;
  position: absolute;
  right: 15px;
}

.bg .header .inform .right .btn {
  background-color: #fff;
  border-radius: 50px;
  padding: 2px 10px 2px 10px;
}

.bg .header .inform .right .btn p {
  font-size: 12px;
  font-weight: 700;
}

.bg .header .count {
  bottom: 0;
  margin-top: 10%;
  margin-left: 8%;
  margin-right: 10%;
}

.bg .header .count .tab {
  margin-top: 20%;
  margin-left: -10px;
  margin-right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg .container {
  height: 80%;
  background-color: #b2b0b0;
  margin-top: 4px;
}

.bg .container .box {
  margin-top: 5%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg .container .box .left img {
  width: 130px;
  height: 90px;
  margin: 10px 10px 10px 10px;
}

.bg .container .box .right .title {
  font-weight: 700;
}

.bg .container .box .right .des {
  font-size: 14px;
  color: #b7b6b6;
}

.bg .container .box .right .price {
  margin-top: 35%;
  font-size: 14px;
  font-weight: 600;
  color: #f56969;
}

.bg .container .box .right .com {
  position: absolute;
  right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg .container .box .right .com .icon {
  width: 18px;
}

.bg .container .box .right .com .mes {
  font-size: 13px;
}

.blueLine {
  padding-bottom: 50%;
  margin-bottom: -4px;
  border-bottom: 4px #46abf1 solid;
  color: #46abf1;
=======
.info {
  width: 93%;
  margin-top: 11%;
  margin-left: 3%;
  background-color: balck;
  z-index: 1000000;
}

.info-left1 img {
  width: 17%;
  height: 17%;
  position: relative;
  top: 2px;
}

.info-left1 p {
  margin-left: 10px;
  font-size: 16px;
  color: #666666;
}

.info-left2 img {
  width: 17%;
  height: 17%;
  position: relative;
  top: 2px;
}

.info-left2 p {
  margin-left: 10px;
  font-size: 16px;
  color: #666666;
}

.info-left3 img {
  width: 17%;
  height: 17%;
  position: relative;
  top: 4px;
}

.info-left3 p {
  margin-left: 10px;
  font-size: 16px;
  color: #666666;
}

.info-left4 img {
  width: 17%;
  height: 17%;
  position: relative;
  top: 0px;
}

.info-left4 p {
  margin-left: 10px;
  font-size: 16px;
  color: #666666;
}

.info-right img {
  width: 15px;
  height: 15px;
}

.line {
  width: 100%;
  border: none;
  height: 1px;
  background: #ececec;
  margin-top: 15px;
  margin-bottom: 15px;
}

.r-inform {
  width: 100%;
  height: 130px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.r-left {
  width: 40%;
  height: 100px;
  float: left;
}

.r-left img {
  height: 80px;
  width: 65%;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 50%;
}

.r-right {
  float: right;
  width: 58%;
}

.r-right h5 {
  margin-top: 30px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 15px;
}

.r-right p {
  font-size: 13px;
  color: #b9b7c9;
  margin-top: 15px;
  margin-left: 30px;
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
}
/*# sourceMappingURL=FleaMy.css.map */