.bg {
  background-color: #f9f9f9;
  width: 100%;
}

.header {
  background-color: #ffffff;
  height: 40px;
  display: flex;
  width: 100%;
  text-align: center;
  // left: 200px
  p {
    // position: relative;
  }

  img {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 5px;
  }

  p {
    font-size: 16px;
    font-weight: 550;
    margin-left: 44%;
    margin-top: 5%;
  }
}
.container {
  padding: 0;
  height: auto;
  // text-align: center;
}
.list {
  height: auto;
  width: 98%;
  // margin-left: x;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  justify-content: space-between;
}
.left {
  height: auto;
  width: 46%;
  margin-left: 10px;
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.left img {
  height: 120px;
  border-radius: 10px;
}
.right img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 10px;
}
.right p {
  float: right;
  margin-right: 60px;
  margin-top: 34px;
}
.recomond {
  width: 100%;
  // margin-left: 20px;
}
