.bg {
  width: 100%;
  height: 100vh;
}

.bg .header {
  height: auto;
<<<<<<< HEAD
  background-color: white;
=======
  background-color: rgba(128, 128, 128, 0.2);
}

.bg .header .bgi {
  height: 300px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
          filter: blur(5px);
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
}

.bg .header .icon {
  width: 6%;
  height: 3%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.bg .header .inform {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 60px;
  margin-left: 20px;
}

.bg .header .inform .top .left .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.bg .header .inform .top .left .card .img {
  width: 40px;
  height: 40px;
}

.bg .header .inform .top .left .card .mes {
  margin-left: 10px;
  margin-top: -1%;
<<<<<<< HEAD
=======
  font-weight: 900;
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
}

.bg .header .inform .top .left .card .mes .wid {
  font-weight: 700;
<<<<<<< HEAD
=======
  color: white;
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
}

.bg .header .inform .top .left .card .mes .nickname {
  font-size: 12px;
<<<<<<< HEAD
  color: #ccc9ca;
=======
  font-weight: 900;
  color: white;
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
}

.bg .header .inform .top .right {
  position: absolute;
  right: 15px;
  top: 15px;
}

.bg .header .inform .top .right .btn {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  padding: 2px 10px 2px 10px;
}

.bg .header .inform .top .right .btn p {
  font-size: 12px;
  font-weight: 700;
}

.bg .header .bottom {
  margin-top: 80px;
  margin-left: 5%;
  margin-bottom: 100px;
<<<<<<< HEAD
=======
  font-weight: 900;
}

.bg .header .bottom p {
  color: white;
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
}

.bg .header .count {
  bottom: 0;
<<<<<<< HEAD
  margin-left: 8%;
  margin-right: 10%;
=======
  background-color: white;
  margin-bottom: 20px;
  padding-top: 10px;
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
}

.bg .header .count .tab {
  margin-left: -10px;
  margin-right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
=======
  -ms-flex-pack: distribute;
      justify-content: space-around;
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
}

.bg .message {
  height: 50%;
}

.bg .message .header {
  margin: 10px 10px 10px 10px;
  height: 80%;
}

.bg .message .header .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  width: 100%;
}

.bg .message .header .col .image {
  width: 20%;
}

.bg .message .header .col .image img {
  width: 80%;
  height: 80%;
}

.bg .message .header .col .mes {
  position: relative;
  width: 80%;
}

.bg .message .header .col .mes .just {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

.bg .message .header .col .mes .just p {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
}

.bg .message .header .col .mes .just .btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg .container {
  height: 80%;
<<<<<<< HEAD
  background-color: #c4bebe;
=======
  width: 90%;
  margin-left: 15px;
  border-radius: 10px;
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
  margin-top: 4px;
}

.bg .container .box {
  margin-top: 5%;
  width: 100%;
  background-color: #fff;
<<<<<<< HEAD
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
}

.bg .container .box .left img {
  width: 130px;
  height: 90px;
<<<<<<< HEAD
  margin: 10px 10px 10px 10px;
}

.bg .container .box .right .title {
  font-weight: 700;
=======
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
}

.bg .container .box .right {
  margin-left: 10px;
}

.bg .container .box .right .title {
  font-weight: 700;
  margin-top: 8px;
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
}

.bg .container .box .right .des {
  font-size: 14px;
  color: #b7b6b6;
}

.bg .container .box .right .price {
<<<<<<< HEAD
  margin-top: 35%;
  font-size: 14px;
  font-weight: 600;
  color: #f56969;
}

.bg .container .box .right .com {
  position: absolute;
  right: 4%;
=======
  margin-top: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg .container .box .right .price .red {
  font-weight: 600;
  font-size: 14px;
  color: #f56969;
}

.bg .container .box .right .price .right {
  position: absolute;
  right: 10%;
}

.bg .container .box .right .com {
  position: absolute;
  right: 6%;
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg .container .box .right .com .icon {
  width: 18px;
}

.bg .container .box .right .com .mes {
  font-size: 13px;
}

.bg .send {
  position: fixed;
  bottom: 5%;
  left: 45%;
}

.bg .send .round {
  width: 60px;
  height: 60px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #f4d53a;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.bg .send .round .icon {
  width: 20px;
  height: 20px;
}

.bg .send .round p {
  font-size: 12px;
  font-weight: 600;
}

.blueLine {
  padding-bottom: 50%;
  border-bottom: 4px #46abf1 solid;
  color: #46abf1;
}
<<<<<<< HEAD
=======

.del {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
}

.zhezhaoceng {
  z-index: 999;
  position: fixed;
  width: 50%;
  height: 100px;
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  left: 25%;
}

.zhezhaoceng p {
  font-size: 14px;
  color: black;
  text-align: center;
}

.zhezhaoceng .b-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.zhezhaoceng .b-pos span {
  width: 50%;
  text-align: center;
}
>>>>>>> 5cd117fe129481578427ca3ee40f5c1e42a12cab
/*# sourceMappingURL=Personal.css.map */