.bg {
  background-color: #f9f9f9;
  width: 100%;
}

.header {
  background-color: #ffffff;
  height: 40px;
  display: flex;


  img {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 5px;
  }

  p {
    font-size: 16px;
    font-weight: 550;
    margin-left: 34%;
    margin-top: 3%;

  }
}
.listAll {
  background: green;
  padding-right: 10px;


  .row {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;

    .list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color:rgb(0, 255, 115) ;

      img {
        width: 30px;
        height: 30px;
      }

      p {
        text-align: center;

        margin: 5px 1px;
      }
    }
  }
}
.container {
  background-color: #f2f2f2;
  position: absolute;
  width: 100%;
  padding-bottom: 120px;
  margin-bottom: 100px;

}

.r-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-right: 4px;
  padding-left: 10px;

}
.r-left {
  min-height: 200px;
  width: 46%;
  margin: 15px 5px;
  background-color: white;
  border-radius: 10px;
 padding-bottom: 10px;
 box-shadow: 0px 1px 4px rgba(0,0,0,0.3),
 0px 0px 20px rgba(0,0,0,0.1) inset;
 
}
.img-box {
  height: 40px;
  line-height: 40px;
 
}
.r-right {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  height: 30px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  
}
.r-left img {
  height: 120px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.3),
  0px 0px 20px rgba(0,0,0,0.1) inset;
}
.r-right img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 10px;
}
.r-right p {
  color: red;

}
.r-left-con {
  p {
    color: red;
    font-size: 14px;
    padding-left: 10px;
    margin-top: 10px;
  }
  span {
     font-size: 0.8rem;
      font-size: 0.8rem;
   
  }
  .price {
    padding-left: 20px;
  }
}
.r-left-con-div {
  min-height: 6px;
  padding-left: 10px;
}

