.bg {
  width: 100%;
}
.header {
  background-color: #ffffff;
  height: 40px;
  position: relative;
  display: flex;
  img {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    left: 0;
  }
  p {
    font-size: 16px;
    font-weight: 550;
    margin-left: 40%;
    margin-top: 3%;
  }
  .save {
    height: 25px;
    width: 50px;
    position: absolute;
    margin-top: 8px;
    margin-right: 5px;
    right: 0;
  }
}
.color {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #46abf1;
  opacity: 0.5;
  position: relative;
  p {
    font-size: 13px;
    position: absolute;
    color: white;
    left: -12%;
    top: 12%;
  }
}
.changeColor {
  opacity: 1;
}
.card {
  width: 100%;
  margin: auto;
  background: white;
  height: 100%;
  .phone {
    width: 90%;
    display: flex;
    margin: auto;
    p {
      font-size: 18px;
    }
    .phonenum {
      margin-left: 20%;
    }
  }
  .code {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    p {
      font-size: 18px;
      font-weight: 550;
    }
  }
  .codenum {
    width: 90%;
    display: flex;
    margin: auto;
    p {
      font-size: 18px;
      font-weight: 550;
    }
  }
  .codenumber {
    width: 35%;
    height: 40px;
    outline-style: none;
    border: 0px;
    margin-top: -5px;
    margin-left: 20%;
    font-size: 15px;
  }
}
.line {
  width: 100%;
  border: none;
  height: 2px;
  background: #f9f9f9;
}
.line1 {
  width: 90%;
  border: none;
  height: 1px;
  background: #efefef;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn {
  width: 60%;
  height: 50px;
  background-color: #46abf1;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin: auto;
  margin-top: 40%;
  position: relative;
  p {
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    font-weight: 550;
    left: 42%;
    top: 28%;
  }
}
