.bg {
  background-color: #f2f2f2;
  height: 100vh;
  width: 100%;
}
.header {
  background-color: #ffffff;
  height: 40px;
  display: flex;
  img {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 5px;
  }
  p {
    font-size: 18px;
    font-weight: 550;
    margin-left: 34%;
    margin-top: 2%;
  }
}
.line {
  width: 100%;
  border: none;
  height: 1px;
  background: #dcdcde;
}
.container {
  background-color: #ffffff;
  height: 40px;
  display: flex;
  img {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 5px;
  }
  p {
    font-size: 14px;
    font-weight: 550;
    margin-left: 28%;
    margin-top: 2%;
  }
}
.card {
  position: relative;
  width: 90%;
  margin: auto;
  height: 85px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 5px;
  .mid {
    font-size: 14px;
    font-weight: 550;
  }
  .small1 {
    // font-size: 10px;
  }
  .small {
    font-size: 10px;
    margin-top: 10px;
  }
}
.btn {
  width: 60%;
  height: 40px;
  background-color: #46abf1;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin: auto;
  margin-top: 20%;
  position: relative;
  p {
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    left: 36%;
    top: 22%;
  }
}
.zhezhaoceng {
  z-index: 999;
  position: absolute;
  width: 60%;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  left: 20%;
  p {
    font-size: 14px;
    color: black;
    position: relative;
    left: 15%;
    top: 22%;
    margin-bottom: 10px;
  }
}
.font-red {
  font-size: 12px;
  font-weight: 600;
  color: rgb(255, 32, 32);
}
.font-blue {
  font-size: 12px;
  font-weight: 600;
  color: rgb(76, 215, 255);
}
.none {
  width: 60%;
  height: 40px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin: auto;
  margin-top: 20%;
  position: relative;
  p {
    font-size: 20px;
    // color: #ffffff;
    // position: absolute;
    text-align: center;
    top: 50%;
  }
}
