.bg {
  background-color: #f5f7fb;
  height: 100vh;
  width: 100%;
}
.header {
  background-color: #ffffff;
  height: 40px;
  display: flex;
  img {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 5px;
  }
  p {
    font-size: 18px;
    font-weight: 550;
    margin-left: 38%;
    margin-top: 2%;
  }
}

.card {
  position: relative;
  width: 95%;
  margin: auto;
  height: 50px;
  margin-top: 10px;
  .icon {
    width: 7%;
    margin-top: 3%;
    margin-right: 10px;
    img {
      width: 15px;
      height: 20px;
    }
  }
  p {
    font: {
      size: 12px;
    }
    line-height: 21px;
  }
  .time {
    position: absolute;
    // bottom: 0;
    right: 0;
    top: -60px;
    margin-bottom: 8px;
  p {
    margin-left: 100px;
  }
  }
}
.line {
  width: 100%;
  border: none;
  height: 1px;
  background: #dcdcde;
  margin-top: 10px;
  margin-bottom: 15px;
}
.font-smoke {
  color: #adadad;
}
