.bg {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    min-height: 600px;
  }
  .header {
    background-color: #ffffff;
    height: 40px;
    display: flex;
    img {
      height: 20px;
      width: 20px;
      margin-top: 10px;
      margin-left: 5px;
    }
    p {
      font-size: 18px;
      font-weight: 550;
      margin-left: 3%;
      margin-top: 2%;
    }
  }
  .card {
    border:1px solid #f4f4f4;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 15px 0 10px 10px;
    width: 94%;
    height: 240px;
}
.top {
    margin: 15px 0 5px 10px;
    width: 94%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.origin{
    display: flex;
    margin: 5px 0 10px 10px;
    width: 94%;
    height: 55px;
} 
.bluediv{
    width: 8px;
    height: 8px;
    border: 2px solid rgb(0, 154, 255);
    border-radius: 4px;
    margin: 15px 20px 0 10px;
}
address{
    color: #000000;
    font-weight: 600;
}
.origindiv{
    width: 90%;
    height: 40px;
}
.destin{
    display: flex;
    margin: 5px 0 10px 10px;
    width: 94%;
    height: 55px;
}
.yellodiv{
    width: 8px;
    height: 8px;
    border: 2px solid rgb(255, 211, 0);
    border-radius: 4px;
    margin: 15px 20px 0 10px;
}
.destindiv{
    width: 90%;
    height: 40px;
}
.line{
    border:0.7px solid #f4f4f4;
    width: 94%;
}.card {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 15px 0 10px 10px;
    width: 94%;
    height: 240px;
}
.top {
    margin: 15px 0 5px 10px;
    width: 94%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.origin{
    display: flex;
    margin: 5px 0 10px 10px;
    width: 94%;
    height: 55px;
} 
.bluediv{
    width: 8px;
    height: 8px;
    border: 2px solid rgb(0, 154, 255);
    border-radius: 4px;
    margin: 15px 20px 0 10px;
}
address{
    color: #000000;
    font-weight: 600;
}
.origindiv{
    width: 90%;
    height: 40px;
}
.destin{
    display: flex;
    margin: 5px 0 10px 10px;
    width: 94%;
    height: 55px;
}
.yellodiv{
    width: 8px;
    height: 8px;
    border: 2px solid rgb(255, 211, 0);
    border-radius: 4px;
    margin: 15px 20px 0 10px;
}
.destindiv{
    width: 90%;
    height: 40px;
}
.line{
    border:0.7px solid #f4f4f4;
    width: 94%;
}
.bottom {
    display: flex;
    margin: 20px 0 0 15px;
    background-color: brown;
}
.time{
    position: absolute;
    margin-left: 5px;
}
.qbtn {
    margin-top: 180px;
    right: 20px;
    border: none;
    width: 70px;
    height: 30px;
    color: #ffffff;
    border-radius: 15px;
    background-color: rgb(0, 154, 255);
}